In [1]:
''' Rathod Shruti A.
     216270307096    '''

'''Write a Pandas program to implement following operation to find and drop the missing values from the given 
dataset'''

import pandas as pd

df = pd.DataFrame({'rollno': [11,12,13,14,15,11], 'sname': ['ram','siya','nan','jay','dev','ram'], 'sem':[5,2,6,1,6,5], 'department':['computer','civil','electrical','computer','civil','computer'], 'grade':['AA','AB', 'BB', 'CC', 'DD','AA']})

print(df)

file_path = "student_dataset.csv"

df.to_csv(file_path, index=False, sep=",")

df2 = pd.read_csv('/kaggle/working/student_dataset.csv')

print("\nMissing values:\n",df2.isnull())

print("\nDropping the missing values:\n",df2.dropna())

   rollno sname  sem  department grade
0      11   ram    5    computer    AA
1      12  siya    2       civil    AB
2      13   nan    6  electrical    BB
3      14   jay    1    computer    CC
4      15   dev    6       civil    DD
5      11   ram    5    computer    AA

Missing values:
    rollno  sname    sem  department  grade
0   False  False  False       False  False
1   False  False  False       False  False
2   False   True  False       False  False
3   False  False  False       False  False
4   False  False  False       False  False
5   False  False  False       False  False

Dropping the missing values:
    rollno sname  sem department grade
0      11   ram    5   computer    AA
1      12  siya    2      civil    AB
3      14   jay    1   computer    CC
4      15   dev    6      civil    DD
5      11   ram    5   computer    AA

In [2]:
''' Rathod Shruti A.
     216270307096    '''

'''Write a Pandas program to implement following operation to remove the duplicates from the given dataset'''

df_1 = pd.read_csv('/kaggle/working/student_dataset.csv')

print("\n\n",df_1)

df_2 = df_1.drop_duplicates()

print("\nRemove the duplicates dataset: \n",df_2)

    rollno sname  sem  department grade
0      11   ram    5    computer    AA
1      12  siya    2       civil    AB
2      13   NaN    6  electrical    BB
3      14   jay    1    computer    CC
4      15   dev    6       civil    DD
5      11   ram    5    computer    AA

Remove the duplicates dataset:
    rollno sname  sem  department grade
0      11   ram    5    computer    AA
1      12  siya    2       civil    AB
2      13   NaN    6  electrical    BB
3      14   jay    1    computer    CC
4      15   dev    6       civil    DD